body {
  font-family: Arial;
  text-align: center;
  background: #222;
  color: white;
}

.container {
  display: flex;
  justify-content: space-around; 
  margin-top: 30px;
}

.card {
  border: 2px solid white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
}

button {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}

.log {
  margin-top: 20px;
  min-height: 50px;
}