.maduro{
    width: 180px;
    height: 250px;
    border-radius: 2px solid black;
    border:2px;
    background-repeat: no-repeat;
}
.maduro1{
    width: 210px;
    height: 250px;
    border-radius: 2px solid black;
    border:2px;
    background-repeat: no-repeat;
}
.maduroa4{
    width: 210px;
    height: 240px;
    border-radius: 2px solid black;
    border:2px;
    background-repeat: no-repeat;
}